.net-info, .contact-data {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.info-wrapper legend {
	margin-bottom: .25em;
}

.report-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.user-choice {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.info-wrapper {
	justify-content: center;
	gap: 5em;
}



.report-form .name {
	row-gap: .15em;
}

